*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  background-image: url(imgbg.jpeg);
}


